body {
  background-color: rgb(248, 248, 248);
}

header {
  background-color: rgb(248, 248, 248);
}

.hero-section {
  background-image: url('./assets/Hintergrund-5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hintergrund bleibt fixiert */
  height: 100vh;
  }

  .handshake-section {
    background-image: url('./assets/handshake-PNG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hintergrund bleibt fixiert */
    height: 100vh;
    }

  .zero-section {
      background-image: url('./assets/hintergrund-3.jpeg');
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hintergrund bleibt fixiert */
  min-height: 100vh;
    }

  footer {
    box-shadow: 0px -5px 5px 0px #00000052;
}